@import "~@/assets/styles/constantes.scss";
@import "~@/assets/styles/mixins.scss";
@import "~@/assets/styles/sections.scss";

#rates {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  .section-body {

    .informations {
      opacity: 0;
    }

    .rates-list {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
      margin-top: 3rem;

      .rates-card {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        width: 24%;
        background: $fourth-color;
        overflow: hidden;
        opacity: 0;

        .corner-rate {
          width: 180px;
          height: 180px;
          position: absolute;
          @include transform(rotate(45deg));
          top: -90px;
          right: -90px;
          background: linear-gradient(90deg, $fivth-color 0%, $fourth-color 100%);
        }

        .rate {
          position: absolute;
          top: 25px;
          right: 0;
          @include transform(rotate(45deg));

          p {
            font-size: .3em;
            color: $text-color !important;
          }

          h4 {
            color: $text-color !important;
            font-size: 1.8em;
          }

          sup {
            font-weight: normal;
            color: $fivth-color !important;
            font-size: .6em;
          }
        }

        .card-header,
        .card-body {
          width: 100%;
        }

        .card-header {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 120px;
          text-transform: uppercase;
          font-size: 1.4em;
          font-weight: bolder;
        }

        .card-body {
          ul {
            width: 100%;

            li {
              padding: 8px;
              font-size: .9em;
              display: flex;
              align-items: center;
              font-weight: 600;
              text-align: left;

              &:nth-of-type(odd) {
                background: $fourth-color;
              }

              &:nth-of-type(even) {
                background: $third-color;

                p, .vue3-icon {
                  color: $text-color !important;
                }
              }

              p {
                width: calc(100% - 20px);
                padding: 0 .5rem;
              }

              .vue3-icon {
                float: left;
                width: 12px;
                color: $third-color !important;
              }
            }
          }
        }
      }

      .complementary {
        width: 100%;
        margin-top: 2rem;
        font-size: .8em;
        text-align: center;

        sup {
          color: $fivth-color !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 1024px) {
  #rates {

    .section-body {

      .rates-list {

        .rates-card {
          width: 100%;
          margin: 3rem 1rem;
        }
      }
    }
  }
}