@import "~@/assets/styles/constantes.scss";
@import "~@/assets/styles/mixins.scss";

footer {
  position: relative;
  width: 100%;
  background: $base-color;

  #footer-header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    .logo {
      position: relative;
      width: 60px;
      margin-left: 6rem;

      img {
        width: 100%;
      }
    }

    .social-network {
      margin-right: 6rem;

      a {
        .vue3-icon {
          width: 30px;
          height: 30px;
          padding: .5rem;
          margin: 0 .5rem;
          border-radius: 30%;
          background: $third-color;

          &:hover {
            background: $fivth-color;
            color: $text-color;
            cursor: pointer;
          }
        }

        &:active, &:link, &:visited {
          color: $text-color;
        }
      }
    }
  }

  #footer-body {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;

    #bio, #bio-contact {
      p, span {
        color: $text-color;
        font-size: .7em;
        text-align: left;
      }
    }

    #bio {
      h6 {
        margin-bottom: 1rem;
      }
      width: calc(50% - 4rem);
      margin-left: 4rem;
    }

    #bio-contact {
      width: calc(27% - 4rem);
      margin-right: 4rem;

      span {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;

        .vue3-icon {
          margin-right: .5rem;
        }
        
        a {
          color: $text-color;
          text-decoration: none;

          &:hover {
            color: $link-color !important;
            text-decoration: underline;
          }

          &:active, &:link, &:visited {
            color: $text-color;
          }
        }
      }
    }
  }

  #footer-footer {
    padding: 1rem;

    p {
      text-align: center;
      font-size: .5em;
      color: $text-color;
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 1024px) {
  footer {
    #footer-header {
      .logo {
        margin-left: 2rem;
      }
  
      .social-network {
        margin-right: 2rem;
      }
    }
    #footer-body {
      #bio {
        width: 100%;
        margin: 0;
        padding-left: 1rem;
      }
  
      #bio-contact {
        width: 100%;
        margin: 1rem 0;
        padding-left: 1rem;
      }
    }
  }
}