@import "~@/assets/styles/sections.scss";

#contact-form {
  position: relative;
  opacity: 0;
  padding: 1rem 0;
  background: $third-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  @include box-shadow(5px 5px 10px 0px rgba(0, 0, 0, 0.1), 5px 5px 10px 0 rgba(0, 0, 0, 0.1));

  .input-textfield {
    position: relative;
    width: calc(50% - 1rem);
    padding: 1rem 0.5rem;

    p {
      color: $text-color !important;
      text-align: center;
    }


    input,
    textarea {
      width: calc(100% - 2rem);
      background: $third-color;
      color: $text-color !important;
      border: none;
      border-bottom: 1px solid $second-color;
      padding: 1rem .5rem;
      
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:active,
      &:-webkit-autofill:focus {
        background-color: $third-color !important;
        color: $text-color !important;
        -webkit-box-shadow: 0 0 0 1000px $third-color inset !important;
        -webkit-text-fill-color: $text-color !important;
      }

      &:-webkit-autofill:focus {
        color: $second-text-color !important;
        -webkit-text-fill-color: $second-text-color !important;
      }

      &:focus {
        color: $second-text-color !important;
        outline: none !important;
        border-bottom: 1px solid $second-text-color;
      }

      &:focus + label, &:focus + label sup {
        top: 0;
        color: $fivth-color !important;
        transform: translateY(0%) scale(.8) !important;
      }

      &:not(:placeholder-shown) + label {
        top: 0;
        transform: translateY(0%) scale(.8) !important;
      }
      
      &:not(:focus)::placeholder {
        opacity: 0;
      }

      &::placeholder {
        color: $fourth-color !important;
      }
    }

    label {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: $text-color !important;
      padding: 0 1.25rem;
      transform-origin: left top;
      pointer-events: none;
      @include transition(0.1s ease-out);

      sup {
        color: $text-color !important;
      }
    }

    textarea {
      min-height: 80px;
    }

    &.full-width {
      width: 100%;
    }
  }

  button {
    position: relative;
    padding: 1rem;
    border: 1px solid $second-color;
    background: none;
    text-transform: uppercase;
    color: $text-color !important;

    &:hover {
      cursor: pointer;
      color: $fivth-color !important;
      background: $second-color;
      @include box-shadow(5px 5px 10px 0px rgba(0, 0, 0, 0.1), 5px 5px 10px 0 rgba(0, 0, 0, 0.1));
    }
    
    &:active {
      border: 1px solid $third-color;
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 1024px) {
  #contact-form {
    .input-textfield {
      width: calc(100% - 1rem);
    }
  }
}