@import "~@/assets/styles/constantes.scss";
@import "~@/assets/styles/mixins.scss";
@import "~@/assets/styles/sections.scss";

#competencies {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .competency-part {
    position: relative;
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 8px 0 8px 0;
    opacity: 0;

    h3 {
      max-height: fit-content;
    }

    .competency-list {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 16px;

      .competency-card {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 8px 0 8px 0;
        padding: 4px;

        .competency-domain,
        .competency-level {
          width: 50%;
          text-align: left;
          font-size: 1.2em;
          p {
            color: $text-color !important;
          }
        }

        .competency-level {
          display: flex;
          align-items: center;
          justify-content: center;

          @include progress($fourth-color, $fivth-color);
        }

        .card-title {
          width: 100%;

          h4,
          p {
            display: flex;
            align-items: center;

            .vue3-icon {
              margin-right: 6px;
              width: 16px;
              height: 16px;
            }
          }

          p {
            font-weight: bold;
          }
        }

        .card-contain {
          width: 100%;
          margin-top: 8px;

          p {
            font-size: .8em;

            strong {
              font-weight: normal;
              color: $second-text-color !important;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 1024px) {
  #competencies {
    .competency-part {
      width: 100%
    }
  }
}