@import "~@/assets/styles/constantes.scss";
@import "~@/assets/styles/mixins.scss";

#main-nav {
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $main-menu-height;
  z-index: 1;
  color: $second-color;
  @include transition(all .3s linear);

  #logo-home {
    position: relative;
    height: 80%;
    display: flex;
    align-items: center;
    z-index: 1;
    margin-left: 5rem;

    a {
      height: 100%;

      img {
        width: auto;
        height: 100%;
      }
    }
  }

  #open-menu {
    position: relative;
    display: none;
    align-items: center;
    width: 40px;
    height: 100%;
    z-index: 1;
    color: $third-color;
    margin-right: 2rem;
    transition: 1s;

    .vue3-icon {
      width: 100%;
      height: auto;
    }
  }

  ul {
    display: flex;
    justify-content: space-around;
    height: 100%;
    z-index: 1;
    font-weight: bolder;
    margin-right: 5rem;

    a {
      position: relative;
      text-decoration: none;
      padding: 0 16px 0 16px;
      text-transform: uppercase;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-bottom: transparent 4px solid;
      @include transition(color .3s ease-in);

      li {
        list-style: none;
      }

      &.active {
        color: $link-color !important;

        &::after {
          background-color: $link-color;
        }
      }

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background: transparent;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        @include transition(background-color .3s ease-in);
      }

      &:hover {
        color: $link-color !important;
      }

      &:hover::after {
        background-color: $link-color;
      }
    }
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $second-color;
  }

  &.unfixed-main-nav {
    top: 64px;
    position: absolute;

    ul {
      a {
        color: $second-color;

        &:visited {
          color: $second-color;
        }
      }
    }

    &::after {
      opacity: .3;
    }
  }

  &.fixed-main-nav {
    top: 0;
    position: fixed !important;
    @include box-shadow(0px 5px 20px 0px rgba(0, 0, 0, 0.33));

    ul {
      a {
        color: $base-color;

        &:visited {
          color: $base-color;
        }
      }
    }

    &::after {
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 1024px) {
  #main-nav {
    #logo-home {
      margin-left: 2rem;
    }

    #open-menu {
      display: flex;
    }

    ul {
      position: absolute;
      left: 0;
      right: 0;
      top: $main-menu-height;
      flex-direction: column;
      margin: 0;
      background-color: $base-color;
      height: 206px;

      a {
        color: $second-text-color !important;
        border: none;
        li {
          margin: 1rem 0;
        }

        &:hover {
          li {
            color: $text-color !important;
          }

          &::after {
            background-color: $text-color;
          }
        }

        &.active {
          color: $text-color !important;
  
          &::after {
            background-color: $text-color;
          }
        }
      }

      &.visible {
        display: flex;
        @include animation(fadeIn .5s);
      }

      &.hide {
        display: none;
        @include animation(fadeOut .5s);
      }
    }
  }
}