@import "~@/assets/styles/mixins.scss";
@import "~@/assets/styles/constantes.scss";

#home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("~@/assets/images/main-page.jpg");
  background-size: cover;
  background-attachment: fixed;

  #title {
    text-align: center;
    overflow: hidden;
    white-space: normal;
    width: 100%;

    h1 {
      font-size: 3em;
    }

    .citation {
      margin-bottom: 4rem;
      @include animation(unset);
    }

    p {
      @include animation(fadeInLeft 2s steps(40, end));
      overflow: hidden;
      white-space: nowrap;
      color: #fff;
      font-size: 2em;
      padding: 0 1rem;

      &.title {
        font-weight: bold;
        font-size: 3em;
        margin-bottom: 2rem;
      }
    }
  }

  .cta {
    position: absolute;
    bottom: 3rem;

    &:hover {
      button {
        color: $third-color !important;
      }
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 1024px) {
  #home {
    #title {
      h1 {
        font-size: 2em !important;
      }
      p {
        white-space: normal;
        font-size: 1.5em !important;
      }
    }
  }
}