@import "~@/assets/styles/mixins.scss";

#home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("~@/assets/images/main-page.jpg");
  background-size: cover;

  #title {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;

    h1 {
      @include animation(typing 2s steps(40, end));
      overflow: hidden;
      white-space: nowrap;
      color: #fff;
      font-size: 4em;
    }

    p {
      @include animation(fadeIn 3s ease-out);
      font-style: italic;
      font-size: 1.5em;
      margin-top: 1rem;
      color: #fff;
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 1024px) {
  #home {
    #title {
      h1 {
        font-size: 1.2em;
      }
      p {
        font-size: 1em;
      }
    }
  }
}