@import "~@/assets/styles/constantes.scss";
@import "~@/assets/styles/mixins.scss";
@import "~@/assets/styles/sections.scss";

#services {
  #services-list {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .service-card {
      width: 300px;
      height: 240px;
      position: relative;
      margin: 1rem 0 1rem 0;
      padding: 1.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      opacity: 0;
      @include box-shadow(5px 5px 10px 0px rgba(0, 0, 0, 0.1), 5px 5px 10px 0 rgba(0, 0, 0, 0.1));

      strong {
        font-weight: normal;
      }

      &:nth-of-type(odd) {
        background: $fourth-color;
      }

      &:nth-of-type(even) {
        background: $third-color;
      }

      .vue3-icon {
        color: $third-color;
      }

      h3 {
        width: 100%;
        text-transform: uppercase;
        color: $base-color !important;
        font-weight: normal;
      }

      p {
        font-size: .8em;
        text-align: center;
        color: $subtext-color !important;
      }
    }
  }

  .section-footer {
    padding-top: 4rem;
    a {
      text-decoration: none;
      padding-left: 1rem;

      button {
        color: $second-text-color !important;
      }
    }
  }
}